.center {
  text-align: center;
}

.courier {
  font-family: 'Inconsolata', Courier New, Courier, monospace;
}

.name {
  display: inline-block;
  font-size: 30px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
}

.packaging {
  text-align: center;
  margin: 0;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -60%);
}

body {
  background-color: #bb1b00;
  color: #ffffff;
  line-height: 1.3;
  font-size: 1.25rem;
}

li {
  list-style-type: none;
}

a:link{
  color:#999999;
}

a:visited{
  color:#999999;
}
