.center {
  text-align: center;
}

.courier {
	font-family: Courier New, Courier, monospace;
}

h1 {
  font-size: 30px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 26.4px;
}

body {
  background-color: #801200;
  color: #ffffff;
}

li {
  display: inline-block;
}
